@media (min-width:300px) {
    .info{
        text-align: center;
        display: block;
        color: chocolate;

    }
}
body {

    background: rgb(243, 242, 242);
    font-size: 16px;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.myFirstClass {
    max-width: 300px;
    border-radius: 29px;
    box-shadow: 4px 4px 16px rgba(red, green, rgb(45, 45, 46), alpha);
}

.info {
    color: #86898f;
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
}

.ul {
    list-style-type: none;
}

.info h4 {
    text-align: center;

}

/* 
.container {
    max-width: 50%;
    background: seagreen;
    padding: 5px 10px 15px 20px;
    border: 10px solid blue;
    margin: 23px;
} */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red
}

.bgy {
    background: rgb(255, 251, 232);
}

.bgr {
    background: rgb(255, 226, 226);
}

.bgb {
    background: rgb(212, 225, 253);
}

.bgg {
    background: rgb(232, 252, 214);
}

.card {
    max-width: 100%;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.list {
    padding: 0 20px;
}

.list li {
    color: rgb(102, 101, 101);
    margin-bottom: 10px;

}

.table {
    width: 100%;
    border: 2px solid tomato;

}

.table td {
    padding-bottom: 10px;
    border: 2px solid tomato

}

.table td:nth-child(3) {
    color: rgb(100, 100, 100)
}

.link-style {
    list-style: square;
}

.link-style li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid sienna;
}

.contact {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 12px;
    color: rgb(44, 44, 44);
}

.form-group input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
background: transparent;

}
.form-group textarea {width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
background: transparent;

}
#email {
    margin-left: 20px;
}
.row {
    display: flex;
    margin-bottom: 20px;
}

.row>.form-group {
    width: 50%;
    margin-bottom: 20px;
}

.btn input {
    background: #111;
    color: white;
    font-family: inherit;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
}

.btn hover {
    opacity: 0.9;
}
.box {
    width: 20px;
    height: 20px;   
background: rgb(255, 0, 0);
border-radius: 50%;

offset-path: path("m224.5,132.399994c-1.600006,-0.574661 -2.443192,-0.884949 -3.300003,-1.352661c-0.745331,-0.406845 -1.550003,-0.659927 -2.199997,-1.168167c-0.767609,-0.600204 -1.271393,-1.311707 -2.199997,-1.47467c-0.88736,-0.155716 -1.645737,-0.531914 -2.5,-0.920502c-0.763107,-0.347122 -1.454376,-0.875961 -2.300003,-1.063164c-0.956894,-0.21183 -1.170975,-0.70446 -1.520828,-1.5c-0.313126,-0.712029 -0.976913,-1.225327 -0.979172,-2.120834c-0.002258,-0.900002 -0.000671,-1.800003 0,-2.700005c0.000671,-0.898666 0.362122,-1.636436 1,-2.199997c0.583481,-0.515511 1.214615,-1.048775 1.833328,-1.666664c0.619202,-0.618385 1.213486,-1.140205 1.966675,-1.549339c0.797516,-0.433212 1.298676,-0.972694 2.001328,-1.367996c0.816956,-0.459602 1.598129,-0.897995 2.498672,-0.916c0.899811,-0.01799 1.932159,0.24424 2.615997,-0.283997c0.627487,-0.484711 1.384003,-0.716003 2.283997,-0.716003c0.900009,0 1.800003,0 2.600006,0c0.899994,0 1.800003,0 2.699997,0c0.899994,0 1.800003,0 2.699997,0c0.900009,0 1.834839,0.163277 2.600006,-0.085335c0.790894,-0.256966 1.516281,-0.843597 2.374664,-0.903999c0.937744,-0.065987 1.925339,-0.010666 2.825333,-0.010666c0.800003,0 1.700058,-0.010666 2.600006,0c0.879349,0.010422 1.409088,0.59861 2.104492,1.052666c0.757904,0.494865 1.186218,1.28643 1.72084,1.922005c0.546204,0.649345 1.04985,1.225426 1.741333,1.858665c0.598038,0.547668 1.118286,1.226219 1.480667,1.866661c0.464417,0.820793 1.182938,1.34893 1.351334,2.101334c0.196686,0.878822 0.686874,1.621223 0.944168,2.498672c0.253769,0.865456 0.358002,1.750824 0.704498,2.399994c0.453354,0.849373 0.442139,1.717369 0.927322,2.325333c0.498383,0.624496 0.43074,1.574692 0.425339,2.47467c-0.005341,0.889374 -0.479385,1.611877 -1.052673,2.147339c-0.685211,0.639999 -1.252869,1.122345 -1.894653,1.705322c-0.579315,0.526245 -1.497208,0.55188 -2.25267,0.931335c-0.867203,0.435577 -1.499039,0.770386 -2.300003,1.216003c-0.799057,0.44455 -1.757294,0.336288 -2.600006,0.721329c-0.669296,0.305801 -1.573792,0.445526 -2.379166,0.7995c-0.712082,0.312973 -1.22551,0.960205 -2.120834,0.979172c-0.964447,0.020432 -1.400879,0.790802 -2.201324,0.998672c-0.816452,0.212036 -1.369705,0.814148 -2.198669,1.001328c-0.88385,0.199585 -1.336792,0.851257 -1.97467,1.425339c-0.57872,0.520859 -1.019989,1.185287 -1.02533,2.074661c-0.005402,0.899979 0,1.800003 0,2.699997c0,0.900009 0,1.800003 0,2.600006c0,0.899994 0.314484,1.587158 0.833328,2.366669c0.470871,0.707458 0.612747,1.380951 1.081345,2.118668c0.439117,0.691299 0.422119,1.565918 1.059998,2.139999c0.57872,0.520859 1.075439,1.226166 1.729828,1.627335c0.771683,0.473083 1.184006,1.2883 1.72084,1.921997c0.502777,0.593491 0.432571,1.53833 0.585327,2.425323c0.143478,0.833145 0.91571,1.584793 0.984833,2.300003c0.086624,0.896378 -0.324066,1.89801 -1.195496,2.214676c-0.849548,0.308716 -1.46933,0.633743 -2.157166,1.028168c-0.819412,0.469879 -1.842834,0.057159 -2.742844,0.057159c-0.899994,0 -1.810745,0.364365 -2.542831,-0.057159c-0.811493,-0.467239 -1.027481,-1.489502 -1.714325,-1.885681c-0.814575,-0.469849 -1.519073,-0.595612 -2.163666,-1.057159c-0.693573,-0.496628 -1.021744,-1.365753 -1.700668,-1.878494c-0.707596,-0.534409 -1.462158,-0.518906 -2.135666,-1.068832c-0.7034,-0.574326 -1.520752,-0.785919 -2.122009,-1.552673c-0.508453,-0.648407 -1.009399,-1.311981 -1.495499,-1.936005c-0.578125,-0.742157 -1.391083,-1.106567 -1.903824,-1.785492c-0.534409,-0.707596 -0.629318,-1.387131 -1.064346,-2.135666c-0.424469,-0.730377 -0.057159,-1.742844 -0.057159,-2.642838c0,-0.800003 -0.010406,-1.700058 0,-2.600006c0.010422,-0.900177 0.421295,-1.658859 0.878662,-2.499832c0.406509,-0.747482 0.860413,-1.508026 1.557343,-1.864166c0.859406,-0.439163 1.716324,-0.395416 2.363998,-0.751999c0.863663,-0.475494 1.517624,-1.030579 2.115997,-1.567993c0.638458,-0.573425 1.073578,-1.236649 1.084,-2.115997c0.010666,-0.899948 0,-1.800003 0,-2.700012l0,-0.899994l0,-0.800003l0,-0.899994");
animation: move 5s linear infinite ;
}
@keyframes move{
    100% {
        offset-distance: 100%;
    }
}
.position {

    margin-top: 50px;
    border: 4px solid chocolate;
   max-width: 100%;
    padding: 300px;
}

.days span {
    width: 60px;
    
}
.hours span {
    
    width: 60px;
}
.minutes span {
    width: 60px;
    
}
.seconds span {
    width: 60px;
    
}
.days {
    text-align: center;
    background: rgb(203, 255, 255);
   padding: 5px;
    border-radius: 25%;
    box-shadow: 3px 4px rgb(133, 133, 133);
   margin-right: 10px;
}
.hours {
    text-align: center;
    background: rgb(203, 255, 255);
   padding: 5px;
    border-radius: 25%;
    box-shadow: 3px 4px rgb(133, 133, 133);
   margin-right: 10px;
  
}
.minutes {
    text-align: center;
    background: rgb(203, 255, 255);
   padding: 5px;
    border-radius: 25%;
    box-shadow: 3px 4px rgb(133, 133, 133);
   margin-right: 10px;
  
   
}
.seconds {
    text-align: center;
    background: rgb(203, 255, 255);
   padding: 5px;
    border-radius: 25%;
    box-shadow: 3px 4px rgb(133, 133, 133);
   margin-right: 10px;
   text-align: center;
 
  
}
.futures {
    display: table-cell;
    text-align: center;
    font-size: 25px;
    text-shadow:3px 3px 3px #86898f;
  
}
.label {
    text-decoration: underline;
    text-shadow:3px 3px 3px #86898f;
    font-size: 20px;
     text-align: center;

}
.timesblock {
    
    display: grid;
    position: absolute;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: rgb(255, 250, 203);
    max-width: 100%;
    align-items: center;
}
.timer {
    display: flex; 
    position: relative;

}
